*{box-sizing: border-box;}
html{font-size: 18px;}

body{
  width: 90%;
  background-color: #1c1c1c;
  margin: 1rem auto;
  color: #e6e7e8;
}

h1{text-align: center;}
p{
  text-indent: 2rem;
  font-size: 20px;
  text-align: justify;
}
img{
  width: 30%;
  margin: 30px;
}
.round{
  float: left;
}
.ellipse{
  float: right;
}
.diamond{
  float: left;
}
.octagon{
  float: right;
}
.star{
  float: left;
}

@media (prefers-color-scheme: light){
  body{
    background-color: #e6e7e8;
    color: #1c1c1c;
  }
}