*{box-sizing: border-box;}
html{font-size: 18px;}

body{
  width: 90%;
  background-color: #1c1c1c;
  margin: 1rem auto;
  color: #e6e7e8;
}

h1{text-align: center;}
p{
  text-indent: 2rem;
  font-size: 20px;
  text-align: justify;
  margin: 1rem 8rem;
}
img{
  width: 30%;
  margin: 30px;
}
.round{
  float: left;
  clip-path: circle(40% at center center);
  shape-outside: circle(40% at center center);
}
.ellipse{
  float: right;
  clip-path: ellipse(41.40% 44.28% at 50% 50%);
  shape-outside: ellipse(41.40% 44.28% at 50% 50%);
}
.diamond{
  float: left;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  shape-outside: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.octagon{
  float: right;
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
  shape-outside: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
.star{
  float: left;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  shape-outside: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  margin-top: 0;
  margin-bottom: 0;
}


@media (prefers-color-scheme: light){
  body{
    background-color: #e6e7e8;
    color: #1c1c1c;
  }
}